<div *ngIf='(blogInfo | async)' class='app-card'>

  <div class='blogNameWrapper'>
    <h2>
      {{(blogInfo | async)?.name}}
    </h2>
  </div>

  <div class='subscribeButtonWrapper' *ngIf='(this.blogInfo | async)?.user?.id !== (currentUser | async)?.id'>
    <button *ngIf='!(this.blogInfo | async)?.isSubscribed' mat-button (click)='onSubscribeBlog()'>Подписаться</button>
    <button *ngIf='(this.blogInfo | async)?.isSubscribed' mat-button (click)='onUnsubscribeBlog()'>Подписка оформлена
    </button>
  </div>

  <div class='descriptionWrapper' *ngIf='(blogInfo | async)?.description'>
    <span
      class='description'
    >
      {{(blogInfo | async)?.description}}
    </span>
  </div>

  <div class='blogInfoWrapper'>
    <p class='descriptionLabel'>Автор: </p>
<!--    <p class='author'>@{{(this.blogInfo | async)?.user?.login}}</p>-->
    <a
      class='author' routerLink='/users/{{(blogInfo | async)?.user?.id}}'
    >@{{(this.blogInfo | async)?.user?.login}}</a>
  </div>

  <div *ngIf='(blogInfo | async)?.user!.id === (currentUser | async)?.id'>
    <app-post-create></app-post-create>

  </div>

  <div *ngIf='(blogInfo | async)?.posts?.length; else noPosts' class='postListHeaderWrapper'>
    <h2>Последние публикации:</h2>
    <app-post-list [postsProp]='(blogInfo | async)!.posts'></app-post-list>
  </div>

  <ng-template #noPosts>
    <div class='postListHeaderWrapper'>
      <h2>Нет публикаций</h2>
    </div>
  </ng-template>

  <!--  <button class='read-button' mat-button (click)='onReadBlog()'>Читать</button>-->
</div>
