@use 'src/app/shared/styles/appColors' as colors;


.main-wrapper {
  margin: 5em auto;
  max-width: 100ch;
  padding-bottom: 2em;
}

@media (max-width: 400px) {
  .main-wrapper {
    margin: 14em auto;
  }
}
