<form [formGroup]='form' (ngSubmit)='onSubmit()'>
  <fieldset>
    <h2>Вход</h2>

    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput required formControlName='login'>

      <mat-error *ngIf='form.controls.login.invalid'>
        Поле обязательно
      </mat-error>

    </mat-form-field>

    <div class='bottom_panel'>

      <app-backend-errors-messages
        *ngIf='(validationErrors$ | async)'
        [backendErrorsProps]='(validationErrors$ | async)'>
      </app-backend-errors-messages>

      <button mat-button color='primary'
              type='submit'
              [disabled]='(isSubmitting$ | async)'>
        Войти
      </button>

    </div>

  </fieldset>
</form>
