@use 'src/app/shared/styles/appStyles';
@use 'src/app/shared/styles/appColors' as c;

.blogNameWrapper {
  margin: 0 0 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 5px solid c.$primary;
  max-width: fit-content;

  h2 {
    margin: 0;
    color: c.$secondary;
  }
}

.description {
  font-style: italic;
}

.descriptionWrapper {
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: c.$info;
}
