form {
  margin: 2em auto;
  display: block;

  h2 {
    text-align: center;
  }

  fieldset {
    padding: 1.5em;

    mat-form-field {
      border: none;
      box-sizing: border-box;
      display: block;
      text-align: center;
      width: 100%;
    }

    .bottom_panel {
      margin: 2em 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      app-backend-errors-messages {
        display: inline-block;
      }

      button {
        min-width: fit-content;
      }
    }
  }
}


