$form_width: 400px;
$base_height: 30px;
$base_border_radius: 17px;

form {
  margin: auto;
  max-width: $form_width;

  .inputs {
    margin-bottom: 20px;
  }

  fieldset {
    border-radius: $base_border_radius;
    padding: 20px 20px 10px 20px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);

    input {
      border: none;
      box-shadow: 0 5px 10px -10px rgb(0 0 0 / 75%);
      border-radius: $base_border_radius;
      box-sizing: border-box;
      display: block;
      height: $base_height;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      color: gray;

      &:focus {
        outline: 0;
      }
    }
  }

  .submit-button {
    border-radius: $base_border_radius;
    display: block;
    margin: 0 0 0 auto;
    height: $base_height;
    border: none;
    box-shadow: 0 5px 10px -10px rgb(0 0 0 / 75%);
    background-color: white;

    &:active {
      position: relative;
      top: 3px;
      box-shadow: 0px 5px 10px -10px rgb(0 0 0 / 50%);
    }
  }

  .form_header {
    text-align: center;
    font-size: large;
  }
}


