@use 'src/app/shared/styles/appStyles' as styles;
@use 'src/app/shared/styles/appColors' as colors;

.hidden {
  display: none;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 120;

  box-shadow: 0 0.25em 2em -0.5em colors.$primary-shadow;
  border-radius: 0 0 17px 17px;
  background-color: colors.$background;

  .user-menu {
    vertical-align: center;
  }

  .mat-icon {
    vertical-align: center;
  }

  nav {
    .flex-container {
      max-width: 70ch;
      margin: auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      a, button {
        font-size: 1rem;
        margin: 0.2em 0.4em;
        padding: 0 0.6em;
        list-style: none;
        border-radius: 18px;
        box-shadow: none;
      }

      .active {
        color: colors.$primary;
      }
    }

  }

}


