<div class='nav-container'>
  <nav class='navbar navbar-fixed-top navbar-dark bg-inverse'>
    <div class='flex-container'>
      <a
        mat-button class='nav-link' routerLink='/home' [routerLinkActive]="'active'"
      >Главная</a>
      <a
        mat-button class='nav-link' routerLink='/navbar' [routerLinkActive]="'active'"
      >Сообщения</a>
      <a
        mat-button class='nav-link' routerLink='/profile' [routerLinkActive]="'active'"
      >Профиль</a>
      <!--      <li class="nav-item"><a mat-button class="nav-link" routerLink="/register">Регистрация</a></li>-->
      <!--      <li class="nav-item"><a mat-button class="nav-link" routerLink="/login">Вход</a></li>-->
      <!--      <li class="nav-item"><a mat-button class="nav-link" routerLink="logout">Выход</a></li>-->
    </div>
  </nav>

</div>
