@use 'src/app/shared/styles/appStyles';

mat-form-field {
  margin-bottom: 1em;
  text-align: left;
}

.app-form {
  h2 {
    text-align: left;
  }
}

.userRolesList {
}

ul {
  padding: 1em;
  //margin: 0;
}

